$bordersize:2px;
$startmenu_height:24px;
$menu_width:200px;

.winui{
    &__startmenu{
        position: absolute;
        bottom: 0px;
        background-color: aqua;
        display: inline-block;
        border-top: #{$bordersize} solid skyblue;
        height: #{$startmenu_height};
        width: 100%; // calc( 100% - calc(#{$bordersize} * 2 ));
        &__btn{
            outline: 0;
            border: 0;
        }
    }

    &__menu_ui{
       width: #{$menu_width};
       border: 5px solid skyblue;
       border-bottom: 0;
       bottom:#{$startmenu_height};
       display: inline-block;
       position: absolute;
    }
}